$lightblue: #BDECF6;
$lightgray: #ECECEC;
$gray: #747474;
$font-color: #767676;
$footer-color: #444444;
$framboise: #E83B89;
$white: #FFFFFF;
$background-promotion: #efefef;
/*Pour les fonts : 
Pour celle a coté du logo : Crete Round
Le reste : Roboto */